<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload to Cloudinary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="vh-100">
        <div class="container d-flex flex-column h-100">
            <h1 class="text-center m-3 titulo fw-bold">Upload to Cloudinary</h1>
            <form enctype="multipart/form-data" class="formulario shadow p-3 m-auto d-flex justify-content-center align-items-center flex-column flex-sm-row flex-lg-row">
                <input type="file" name="photo" accept="image/*" class="form-control">
                <div class="my-2 d-flex ">
                    <input type="submit" value="Upload" class="btn boton submit mx-2">
                    <input type="reset" value="Reset" class="btn boton reset ">
                </div>
            </form>
        </div>
    </main>
    <script src="/js/index.js"></script>
</body>
</html>