@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

*{
    font-family: 'Bricolage Grotesque', sans-serif;
}

.formulario{
    background-color: #bedf7ebb;
}
.boton{
    border-radius: 2px!important;
}
.submit{
    background-color: #490cd8d0;
    color: rgb(248, 248, 248);
}
.reset{
    background-color: #c41f3bb0;
    color: white;
}

.showImages{
    background-color: #1d9653d0;
    color: white;
}
.imagenItem{
    width: 30%; /* Establece el ancho al 100% para que la imagen ocupe todo el ancho disponible */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción original */
    aspect-ratio: 1/1; /* Establece el aspect ratio a 1:1 para hacer que la imagen sea cuadrada */
    object-fit: cover;
}
.off{
    display: none;
}
.on{
    display: initial;
}

.preview-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px; /* Ajusta el tamaño máximo según tus necesidades */
  }
  .preview-image {
    max-width: 75%;
    height: auto;
    margin-top: 1em;
  }


@media (max-width:600px) {
    
    .images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .imagenItem{
        width: 45%;
    }
}